.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(327deg, #85a7d6, transparent, rgba(82, 116, 252, .58) 0, rgba(253, 76, 90, .53));
  background-image: linear-gradient(123deg, #85a7d6, transparent, rgba(82, 116, 252, .58) 0, rgba(253, 76, 90, .53));
  opacity: 1;
}

.container {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 0px;
  border: 1px none #fff;
  cursor: default;
}

.heading {
  position: relative;
  z-index: 0;
  display: block;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  direction: ltr;
  font-family: 'Futura 01', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-transform: none;
  cursor: text;
}

.heading:hover {
  color: #fff;
}

.image {
  position: fixed;
  opacity: 0.48;
}

.div-block {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: -5px;
  padding-bottom: 0px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  cursor: pointer;
}

.div-block-2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  cursor: pointer;
}

.div-block-3 {
  position: relative;
  z-index: 1;
  display: inline;
  width: 50px;
  height: 50px;
  float: right;
  clear: none;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
}

.div-block-4 {
  display: inline;
  width: 50px;
  height: 50px;
  float: right;
  clear: none;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.paragraph {
  margin-right: 60px;
  margin-left: 170px;
  text-align: justify;
}

.paragraph-2 {
  position: static;
  margin-top: -1px;
  margin-right: 14px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Futura 01', sans-serif;
  color: #fff;
  cursor: text;
}

.div-bloc {
  margin-right: 80px;
  margin-left: 80px;
}

.link {
  color: #fff;
  cursor: pointer;
}

.image-2 {
  position: static;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  overflow: visible;
  margin: 14px 11px 16px 0px;
  float: right;
  clear: none;
}

.link-block {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.paragraph-3 {
  float: none;
}

.paragraph-4 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  float: none;
}

.paragraph-5 {
  margin-right: 4px;
  padding-right: 0px;
  font-family: 'Futura 01', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  cursor: text;
}

.image-3 {
  margin-top: -1px;
  margin-left: -25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.paragraph-6 {
  margin-right: 4px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.paragraph-6.type {
  margin-right: 6px;
  padding-right: 0px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: 400;
}

.paragraph-6.type1 {
  font-family: 'Futura 03', sans-serif;
  font-style: normal;
}

.paragraph-6.type2 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.paragraph-6.typ3 {
  font-family: 'Futura 01', sans-serif;
  font-weight: 500;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Futura 01', sans-serif;
  color: #fff;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -8px;
  cursor: text;
}

.div-block-7 {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%;
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 49px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  background-image: none;
  text-align: left;
  cursor: pointer;
}

.section-2 {
  background-image: -webkit-linear-gradient(315deg, #85a7d6, transparent, rgba(59, 98, 255, .58) 0, rgba(250, 53, 69, .53));
  background-image: linear-gradient(135deg, #85a7d6, transparent, rgba(59, 98, 255, .58) 0, rgba(250, 53, 69, .53));
}

.paragraph-7 {
  font-family: 'Futura 01', sans-serif;
  color: #fff;
  cursor: default;
}

.link-2 {
  color: #fff;
  cursor: pointer;
}

.paragraph-8 {
  margin-top: 14px;
  margin-bottom: 20px;
  font-family: 'Futura 01', sans-serif;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  cursor: text;
}

.row {
  margin-bottom: -10px;
}

.paragraph-9 {
  font-family: 'Futura 01', sans-serif;
  color: #fff;
  cursor: text;
}

.div-blockk {
  margin-right: 80px;
  margin-left: 80px;
}

.div-blockk-copy {
  margin-right: 80px;
  margin-left: 80px;
}

.div-block-class {
  margin-right: 80px;
  margin-left: 80px;
}

.div-b-copy {
  margin-right: 80px;
  margin-left: 80px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-5 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: -14px 20px 20px 9px;
}

@media (max-width: 991px) {
  .container {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .heading {
    font-size: 25px;
  }
  .div-block {
    position: static;
    z-index: 1;
    width: 70px;
    float: left;
    clear: none;
  }
  .div-block-2 {
    width: 70px;
    clear: none;
  }
  .div-block-3 {
    position: static;
    top: 0px;
    bottom: 0px;
    display: inline-block;
    overflow: visible;
    width: 70px;
    height: 50px;
    float: right;
    clear: none;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .div-block-4 {
    width: 70px;
  }
  .div-bloc {
    margin-top: 42px;
  }
  .paragraph-5 {
    font-size: 12px;
  }
  .paragraph-6 {
    font-size: 12px;
  }
  .paragraph-6.type2 {
    font-size: 12px;
  }
  .div-block-6 {
    margin-left: -24px;
    font-size: 12px;
  }
  .div-block-7 {
    z-index: 1;
  }
  .link-2 {
    font-size: 12px;
  }
  .paragraph-8 {
    font-size: 12px;
  }
  .paragraph-9 {
    margin-top: -2px;
    font-size: 12px;
  }
  .div-blockk {
    margin-top: 42px;
  }
  .div-blockk-copy {
    margin-top: 42px;
  }
  .div-block-class {
    margin-top: 1px;
  }
  .div-b-copy {
    margin-top: 42px;
  }
  ._22 {
    width: 50px;
    height: 50px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  .div-block-8 {
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  ._23 {
    position: static;
    top: 0px;
    right: 0px;
    z-index: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .div-block-9 {
    width: 50px;
    height: 50px;
    float: right;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-style: none;
    border-top-color: #fff;
  }
  .div-block-10 {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin: auto;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/example-bg.png');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/example-bg.png');
    background-position: 0px 0px, 0px 0px;
    background-size: auto, 125px;
  }
  .image-4 {
    position: static;
    right: 0px;
    bottom: 0px;
    display: block;
    margin: 10px 20px 20px 13px;
    padding-top: 0px;
  }
  .image-5 {
    position: static;
    display: block;
  }
  .link-block-2 {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-right: 18px;
    padding-left: 18px;
  }
  .heading {
    line-height: 30px;
  }
  .paragraph-5 {
    margin-right: -24px;
    margin-left: -11px;
    padding-left: 0px;
  }
  .div-block-6 {
    margin-left: -1px;
  }
  .paragraph-9 {
    margin-top: 5px;
  }
  .div-block-class {
    margin-right: 70px;
    margin-left: 40px;
  }
  .row-2 {
    margin-left: 0px;
    padding-left: 0px;
  }
  .div-block-10 {
    position: absolute;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .container {
    margin-bottom: 20px;
    padding-top: 0px;
    padding-right: auto;
    padding-left: auto;
  }
  .heading {
    margin: 80px auto 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 25px;
    line-height: 30px;
  }
  .column {
    margin-bottom: -1px;
  }
  .paragraph-5 {
    margin-right: auto;
    margin-bottom: -22px;
    margin-left: -10px;
    font-size: 11px;
  }
  .paragraph-6.typ3 {
    margin-right: 11px;
    margin-left: 0px;
    font-family: 'Futura 01', sans-serif;
    font-size: 11px;
  }
  .div-block-6 {
    position: relative;
    left: 173px;
    top: -1px;
    right: 18px;
    bottom: -23px;
    margin-top: 0px;
    margin-left: 21px;
    font-size: 11px;
  }
  .paragraph-7 {
    margin-top: -27px;
    margin-bottom: 80px;
  }
  .paragraph-8 {
    margin-top: 0px;
  }
  .paragraph-9 {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 0px;
  }
  .div-block-class {
    margin: -42px 6px -28px 9px;
    padding-right: 9px;
    padding-left: 5px;
  }
  ._22 {
    margin-right: 1px;
    margin-left: -10px;
    padding-right: 0px;
  }
  .div-block-8 {
    margin-left: -10px;
  }
  ._23 {
    margin-right: -10px;
  }
  .div-block-9 {
    margin-right: -10px;
  }
  .div-block-10 {
    position: absolute;
    margin: auto;
  }
  .image-4 {
    margin-right: 8px;
  }
  .link-block-2 {
    position: relative;
    left: 11px;
    bottom: -52px;
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura 02';
  src: url('../fonts/Futura-MediumItalic-02.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Futura Condensed 05';
  src: url('../fonts/Futura-CondensedExtraBold-05.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Futura 01';
  src: url('../fonts/Futura-Medium-01.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Condensed 04';
  src: url('../fonts/Futura-CondensedMedium-04.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Futura 03';
  src: url('../fonts/Futura-Bold-03.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Dk drop dead gorgeous';
  src: url('../fonts/DK-Drop-Dead-Gorgeous.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}